* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

#container {
    width: 80%;
    height: 50vh;
    border: 5px solid #0c5f5c;
    border-radius: 5%;
    margin: auto;
    background: rgb(64,170,121);
    background: radial-gradient(circle, rgba(64,170,121,1) 0%, rgba(169,208,85,1) 100%);
    display: flex;
    flex-wrap: wrap;
}

#infoVille {
    width: 40%;
    height: 20%;
    border: 2px solid #17179b;
    margin-top: 10px;
    margin-left: 10px;
    background: rgb(177,218,199);
    background: radial-gradient(circle, rgba(177,218,199,1) 0%, rgba(166,169,196,1) 100%);
    padding: 0 2%;
}

label {
    font-size: 20px;
}
button {
    margin: auto;
}

#result {
    width: 50%;
    height: 80%;
    margin-top: 10px;
    margin-left: 20px;
    border: 3px solid blue;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%,
                rgba(29,253,220,1) 50%, rgba(252,176,69,1) 100%);
    padding: 2% 2% 2% 30px;
    color: whitesmoke;
    text-align: center;
}

#ciel {
    width: 40%;
    border: 3px solid blue;
    background: rgb(228,251,63);
    background: radial-gradient(circle, rgba(228,251,63,0.8491597322522759) 0%,
                rgb(45, 92, 234) 100%);
    margin-top: -280px;
    margin-bottom: 85px;
    margin-left: 10px;
    position: relative;
    padding: 2%;
    color: #0808e2;
    background-size: cover;
}